body {
  font-family: "Montserrat Condensed";
  padding: 20px 40px;
  background-color: rgba(123, 139, 242, 0.1);
}

p {
  font-size: 1.2rem;
}

a {
  text-decoration: none;
  color: black;
}
* {
  box-sizing: border-box;
}

.sign-in {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.btn-send {
  width: 70%;
  height: 60%;
  border: none;
  outline: none;
  display: block;
  color: white;
  cursor: pointer;
  padding: 0 1.2rem;
  font-size: 1.2rem;
  line-height: 3rem;
  letter-spacing: 0;
  text-align: center;
  font-style: normal;
  margin: 2rem 2rem 0 0;
  border-radius: 1.7rem;
  text-decoration: none;
  text-transform: lowercase;
  box-shadow: 0 5px 20px 0 rgba(86, 121, 181, 0.3);
  -webkit-box-shadow: 0 5px 20px 0 rgba(86, 121, 181, 0.3);
  background-image: linear-gradient(-132deg, #d5a1fe, #7b8bf2);
  background-image: -o-linear-gradient(222deg, #d5a1fe, #7b8bf2);
  background-image: -webkit-linear-gradient(222deg, #d5a1fe, #7b8bf2);
}
.btn-reset {
  width: 50%;
  height: 60%;
  outline: none;
  display: block;
  cursor: pointer;
  color: #4e206c;
  margin-top: 2rem;
  padding: 0 1.2rem;
  font-size: 1.2rem;
  line-height: 3rem;
  letter-spacing: 0;
  text-align: center;
  font-style: normal;
  background-color: white;
  border-radius: 1.7rem;
  text-decoration: none;
  text-transform: lowercase;
  border: 1px solid #4e206c;
}
.btn-reset:hover {
  border: none;
  color: white;
  box-shadow: 0 5px 20px 0 rgba(86, 121, 181, 0.3);
  -webkit-box-shadow: 0 5px 20px 0 rgba(86, 121, 181, 0.3);
  background-image: linear-gradient(-132deg, #d5a1fe, #7b8bf2);
  background-image: -o-linear-gradient(222deg, #d5a1fe, #7b8bf2);
  background-image: -webkit-linear-gradient(222deg, #d5a1fe, #7b8bf2);
}
.btn-logout:hover {
  border: none;
  color: white;
  box-shadow: 0 5px 20px 0 rgba(86, 121, 181, 0.3);
  -webkit-box-shadow: 0 5px 20px 0 rgba(86, 121, 181, 0.3);
  background-image: linear-gradient(-132deg, #d5a1fe, #7b8bf2);
  background-image: -o-linear-gradient(222deg, #d5a1fe, #7b8bf2);
  background-image: -webkit-linear-gradient(222deg, #d5a1fe, #7b8bf2);
}
.btn-logout {
  width: 8.5%;
  height: 7%;
  right: 15vw;
  top: -6vh;
  outline: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  cursor: pointer;
  color: #4e206c;
  position: absolute;
  margin-top: 5rem;
  padding: 0 1.2rem;
  font-size: 1.2rem;
  line-height: 3rem;
  letter-spacing: 0;
  text-align: center;
  font-style: normal;
  background-color: white;
  border-radius: 1.7rem;
  text-decoration: none;
  text-transform: lowercase;
  border: 1px solid #4e206c;
}

.sign-in-container {
  width: 20vw;
  height: 40vh;
  display: flex;
  margin: 0 auto;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  margin: 15px;
  text-align: center;
}

.btn {
  border: none;
  color: #fff;
  outline: none;
  display: block;
  cursor: pointer;
  margin-top: 2rem;
  padding: 0 1.2rem;
  font-size: 1.2rem;
  line-height: 3rem;
  letter-spacing: 0;
  text-align: center;
  font-style: normal;
  border-radius: 1.7rem;
  text-decoration: none;
  text-transform: lowercase;
  -webkit-box-shadow: 0 5px 20px 0 rgba(86, 121, 181, 0.3);
  box-shadow: 0 5px 20px 0 rgba(86, 121, 181, 0.3);
  background-image: -webkit-linear-gradient(222deg, #d5a1fe, #7b8bf2);
  background-image: -o-linear-gradient(222deg, #d5a1fe, #7b8bf2);
  background-image: linear-gradient(-132deg, #d5a1fe, #7b8bf2);
  width: 50%;
  height: 20%;
}

fieldset {
  background: none;
  padding: 0;
  border: 1px solid transparent;
  position: relative;
  border-bottom: 1px solid rgba(141, 133, 190, 0.25);
  margin-top: 15px;
  margin-bottom: 15px;
}

label {
  font-weight: 400;
  font-style: normal;
  width: 100%;
  display: block;
  font-size: 1rem;
  color: #4e206c;
  letter-spacing: 0;
  text-transform: lowercase;
  margin: 0 0 5px 0;
}

input {
  background: none;
  width: 100%;
  display: block;
  border: none;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  letter-spacing: 1px;
  border-radius: 0;
  -webkit-appearance: none;
  height: 25px;
  outline: none;
}
