body {
  padding: 20px 40px;
  font-family: "Montserrat Condensed";
  background-color: rgba(123, 139, 242, 0.1);
}

p {
  font-size: 1.2rem;
}

a {
  text-decoration: none;
  color: black;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h5 {
  font-size: 30px;
  font-weight: 700;
  color: #a796f8;
  line-height: 54px;
  text-align: center;
  margin-bottom: 20px;
}

.header-span {
  display: block;
  font-size: 14px;
  color: #7b7698;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 18px;
  text-align: center;
  margin-bottom: 1rem;
}
.sign-in {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

h2 {
  font-size: 36px;
  font-weight: 500;
  color: #4e206c;
  line-height: 26px;
  text-align: center;
  letter-spacing: -0.5px;
  margin: 10% 10% 30% 10%;
}

.btn-send {
  width: 70%;
  height: 60%;
  border: none;
  outline: none;
  display: block;
  color: white;
  cursor: pointer;
  padding: 0 1.2rem;
  font-size: 1.2rem;
  line-height: 3rem;
  letter-spacing: 0;
  text-align: center;
  font-style: normal;
  margin: 2rem 2rem 0 0;
  border-radius: 1.7rem;
  text-decoration: none;
  text-transform: lowercase;
  box-shadow: 0 5px 20px 0 rgba(86, 121, 181, 0.3);
  -webkit-box-shadow: 0 5px 20px 0 rgba(86, 121, 181, 0.3);
  background-image: linear-gradient(-132deg, #d5a1fe, #7b8bf2);
  background-image: -o-linear-gradient(222deg, #d5a1fe, #7b8bf2);
  background-image: -webkit-linear-gradient(222deg, #d5a1fe, #7b8bf2);
}
.btn-reset {
  width: 50%;
  height: 60%;
  outline: none;
  display: block;
  cursor: pointer;
  color: #4e206c;
  margin-top: 2rem;
  padding: 0 1.2rem;
  font-size: 1.2rem;
  line-height: 3rem;
  letter-spacing: 0;
  text-align: center;
  font-style: normal;
  border-radius: 1.7rem;
  text-decoration: none;
  text-transform: lowercase;
  background-color: white;
  border: 1px solid #4e206c;
}
.btn-reset:hover {
  border: none;
  color: white;
  box-shadow: 0 5px 20px 0 rgba(86, 121, 181, 0.3);
  -webkit-box-shadow: 0 5px 20px 0 rgba(86, 121, 181, 0.3);
  background-image: linear-gradient(-132deg, #d5a1fe, #7b8bf2);
  background-image: -o-linear-gradient(222deg, #d5a1fe, #7b8bf2);
  background-image: -webkit-linear-gradient(222deg, #d5a1fe, #7b8bf2);
}
.btn-logout:hover {
  border: none;
  color: white;
  box-shadow: 0 5px 20px 0 rgba(86, 121, 181, 0.3);
  -webkit-box-shadow: 0 5px 20px 0 rgba(86, 121, 181, 0.3);
  background-image: linear-gradient(-132deg, #d5a1fe, #7b8bf2);
  background-image: -o-linear-gradient(222deg, #d5a1fe, #7b8bf2);
  background-image: -webkit-linear-gradient(222deg, #d5a1fe, #7b8bf2);
}
.btn-logout {
  top: -6vh;
  height: 7%;
  width: 8.5%;
  right: 15vw;
  outline: none;
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
  transition: 0.3s;
  color: #4e206c;
  margin-top: 5rem;
  padding: 0 1.2rem;
  font-size: 1.2rem;
  line-height: 3rem;
  letter-spacing: 0;
  position: absolute;
  text-align: center;
  font-style: normal;
  align-items: center;
  flex-direction: row;
  border-radius: 1.7rem;
  text-decoration: none;
  justify-content: center;
  background-color: white;
  text-transform: lowercase;
  border: 1px solid #4e206c;
}

.sign-in-container {
  width: 20vw;
  height: 40vh;
  margin: 15px;
  padding: 20px;
  display: flex;
  margin: 0 auto;
  text-align: center;
  background: #fff;
  align-items: center;
  border-radius: 10px;
  flex-direction: column;
  justify-content: center;
}

.btn {
  width: 50%;
  height: 20%;
  border: none;
  outline: none;
  display: flex;
  cursor: pointer;
  color: #4e206c;
  margin-top: 2rem;
  padding: 0 1.2rem;
  transition: 0.3s;
  font-size: 1.2rem;
  line-height: 3rem;
  letter-spacing: 0;
  text-align: center;
  font-style: normal;
  align-items: center;
  flex-direction: row;
  border-radius: 1.7rem;
  text-decoration: none;
  justify-content: center;
  text-transform: lowercase;
  background-color: white;
  border: 1px solid #4e206c;
}

.btn:hover {
  border: none;
  color: white;
  box-shadow: 0 5px 20px 0 rgba(86, 121, 181, 0.3);
  -webkit-box-shadow: 0 5px 20px 0 rgba(86, 121, 181, 0.3);
  background-image: linear-gradient(-132deg, #d5a1fe, #7b8bf2);
  background-image: -o-linear-gradient(222deg, #d5a1fe, #7b8bf2);
  background-image: -webkit-linear-gradient(222deg, #d5a1fe, #7b8bf2);
}

fieldset {
  padding: 0;
  background: none;
  margin-top: 15px;
  position: relative;
  margin-bottom: 15px;
  border: 1px solid transparent;
  border-bottom: 1px solid rgba(141, 133, 190, 0.25);
}

label {
  width: 100%;
  display: block;
  font-size: 1rem;
  color: #4e206c;
  font-weight: 400;
  margin: 0 0 5px 0;
  letter-spacing: 0;
  font-style: normal;
  text-transform: lowercase;
}

input {
  width: 100%;
  border: none;
  height: 25px;
  outline: none;
  display: block;
  font-size: 14px;
  background: none;
  font-weight: 400;
  border-radius: 0;
  font-style: normal;
  letter-spacing: 1px;
  -webkit-appearance: none;
}
